$borderRadius: 5px;
._previewer-area {
  margin: 30px;
  width: 48.5%;
  height: 590px;
  border-radius: $borderRadius;
  ._preview-output {
    overflow: auto;
    border: none;
    width: 98.3%;
    height: 100%;
    border-radius: $borderRadius;
    padding: 5px;
    cursor: default;
    background-color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    // max-width: 100%;
  }
  h5 {
    margin-top: 3px;
    margin-left: 8px;
    font-family: sans-serif;
    font-weight: 450;
    color: rgb(119, 119, 119);
  }
  h1 {
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  h2 {
    font-weight: bold;
    border-bottom: 1px solid black;
  }
  table {
    border-collapse: collapse;
    width: 55%;
  }

  th,
  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }

  th {
    background-color: #f0f0f0;
  }
  blockquote {
    border-left: 4px solid #cb8e84;
    padding-left: 10px;
    margin: 10px 0;
    color: #456074;
  }
  .modal_widow {
    width: 45%;
    height: 24%;
    background-color: rgb(43, 43, 43);
    position: absolute;
    transform: translate(-50%, -275%);
    z-index: 2;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgb(79, 79, 79);
    display: none;
    cursor: pointer;

    .download_title {
      // position: relative;
      color: #f0f0f0;
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: larger;
      border-bottom: solid 1px white;
      cursor: default;
    }
    .download_subtitle--1 {
      color: #f0f0f0;
      font-size: large;
      margin-left: 15px;
      position: relative;
      user-select: none;

      // transition: transform 0.3s ease;
      top: 15px;
      &:hover {
        background-color: blue;
      }
    }

    .download_subtitle--2 {
      color: #f0f0f0;
      font-size: large;
      margin-left: 15px;
      position: relative;
      top: 50px;
      user-select: none;
      &:hover {
        background-color: rgba(0, 0, 255, 0.712);
      }
    }
    // .low_headings {
    //   padding-top: 10px;
    //   padding-bottom: 10px;
    // }
  }
  .modal_overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: none;
  }
}
