$borderRadius: 5px;
._previewer-area {
  margin: 30px;
  width: 48.5%;
  height: 590px;
  border-radius: $borderRadius;
  textarea {
    overflow: hidden;
    resize: vertical;
    border: none;
    width: 98.3%;
    height: 100%;
    border-radius: $borderRadius;
    padding: 5px;
    outline-color: rgb(255, 255, 255);
    cursor: default;
  }
}
